<%= bootstrap_form_for(@order, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :company %>
  <%= f.text_field :item %>
  <%= f.text_field :item_number %>
  <%= f.text_field :quantity %>
  <%= f.text_field :price_cents, prepend: "$", label: "Cost" %>
  <%= f.text_area :description %>

  <%= f.form_group :carrier, label: { text: "Carrier" } do %>
    <%= f.radio_button :carrier, 0, label: "UPS", inline: true %>
    <%= f.radio_button :carrier, 1, label: "FedEx", inline: true %>
    <%= f.radio_button :carrier, 2, label: "USPS", inline: true %>
  <% end %>

    <%= f.form_group do %>
      <%= f.submit %>
    <% end %>

<% end %>

