<% if user_signed_in? %>
  <%= link_to 'New Order', new_order_path %>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Orders</strong></div>
  <div class="panel-body">


<table class="table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Item</th>
      <th>Description</th>
      <th>Ordered By</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.company %></td>
        <td><%= order.item %></td>
        <td><%= order.description %></td>
        <td><%= order.user.email %></td>
        <td><%= link_to 'Show', order %></td>
        <% if order.user == current_user %>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Delete', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</div>
</table>


<FORMmethod="post" action = "http://wwwapps.ups.com/WebTracking/OnlineTool">
<INPUT type = "text" size=35 name="InquiryNumber1"> <INPUT type="text" size=35
name="InquiryNumber2"> <INPUT type="text" size=35 name="InquiryNumber3"> <INPUT
type="text" size=35 name="InquiryNumber4"> <INPUT type="hidden"
name="TypeOfInquiryNumber" value="T"> <INPUT type="hidden"
name="UPS_HTML_License" value=#####'Access Key'################ <INPUT type="hidden"
name="UPS_HTML_Version" value="3.0"> <INPUT type=”hidden” name=”IATA” value =
”us”> <INPUT type = ” hidden” name=”Lang” value = ”eng”> <INPUT type = "submit"
name = "submit" value ="Track package(s)"> <INPUT type="reset" value="Clear
package(s)"> </FORM>